top2vec[indexing]==1.0.27
pandas==1.4.0
spacy==3.7.0
pydantic==2.0
transformers==4.36.2
sentence-transformers
octis==1.11.1
regex==2023.5.5
nltk==3.8.1
scikit-learn==0.24.2
gensim==4.2.0
bertopic==0.14.1
kaleido==0.2.1
datasets
gradio==4.14.0
tensorflow-text==2.10.0
tensorflow_hub==0.15.0
tensorflow[and-cuda]==2.10.0