top2vec[indexing]==1.0.34
top2vec[sentence_encoders]
top2vec[sentence_transformers]
sentence_transformers==2.2.2
tensorflow==2.15.0
tensorflow_hub==0.15.0
tensorflow_text==2.15.0
scikit-learn==1.2.0
bertopic==0.16.0
numpy==1.23.5
gradio==4.14.0
pandas==1.4.0
gensim==4.2.0
nltk==3.8.1
spacy==3.7.0
en_core_web_lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.7.0/en_core_web_lg-3.7.0-py3-none-any.whl
nl_core_news_lg @ https://github.com/explosion/spacy-models/releases/download/nl_core_news_lg-3.7.0/nl_core_news_lg-3.7.0-py3-none-any.whl
de_core_news_lg @ https://github.com/explosion/spacy-models/releases/download/de_core_news_lg-3.7.0/de_core_news_lg-3.7.0-py3-none-any.whl
fr_core_news_lg @ https://github.com/explosion/spacy-models/releases/download/fr_core_news_lg-3.7.0/fr_core_news_lg-3.7.0-py3-none-any.whl